<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">
        <img src="https://cdn.pixabay.com/photo/2017/03/30/17/41/javascript-2189147__340.png" width="210" height="40"
            alt="logo" loading="lazy" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

        <div class="navbar-nav mr-auto text-center">

            <a class="nav-link active" href="/"> Formulario y Chat</a>
            <a class="nav-link" href="listadeproductos.html"> Productos</a>
            <a class="nav-link active" href="ingresoDeProducto.html">
                Ingreso Producto</a>
        </div>
        <div class="d-flex justify-content-center">
            <a href="https://es-la.facebook.com/" class="btn btn-primary mr-2">F</a>
            <a href="https://www.youtube.com/" class="btn btn-danger">Y</a>
            <a href="http://localhost:8080/carrito.html"><img src="./imagen/1x/outline_shopping_cart_white_36dp.png"
                    alt="cart" /></a>
        </div>
    </div>
</nav>