
{{>headHome title="Formulario y chat"}}
{{> menuProductos }}\

<div id="tablaProductos" class="bordeBlanco container "></div>

<section class="bordeBlanco container">
    <h2 id="compresion" class="silver container animate__animated animate__zoomIn mt-4">
        </h1>
        <div id="messagesId" class="message-fondo mt-3"></div>
        <form onsubmit="return addMessage()" class=" mb-4">
            <input type="email" id="email" placeholder="ejemplo@gmail.com..." class="form-control">
            <input type="texto" id="messageNombre" placeholder="escribe tu nombre..." class="form-control">
            <input type="texto" id="messageApellido" placeholder="escribe tu apellido..." class="form-control">
            <input type="texto" id="messageEdad" placeholder="escribe tu edad..." class="form-control">
            <input type="texto" id="messageAlias" placeholder="escribe tu alias..." class="form-control">
            <input type="texto" id="messageAvatar" placeholder="url de tu avatar..." class="form-control">
            <input type="text" id="texto" placeholder="ingresa un mensage..." class="form-control mt-1">
            <input type="submit" value="Enviar " class="btn btn-primary mt-2">
        </form>
</section>
{{> footer}}