
{{> menuProductos}}
    <section class="container bordeBlanco mt-3">
    {{#if usuario.nombre}}
        
        <h1 class="alert alert-success">Bienvenido {{usuario.nombre}}
        {{!-- <form action="/logout" method="get" class="col-sm-6 d-flex justify-content-end">
            <input type="submit" value='Deslogear' class="btn btn-warning">
        </form>    --}}
            <button class="btn btn-warning float-right mt-2" onclick="location.href='/logout'">
            Desloguear
            </button>
        </h1>
        
    {{/if}}
    </section>
  <form class= "container bordeBlanco" action="/api/productos?admin=true" method="POST">
        <h1 class="silver animate__animated animate__zoomIn">Ingrese producto</h1>
        <fieldset class="row d-flex justify-content-center">
            <div class="col-md-6 formulario">
                <div class="form-group">
                    <label for="title">title</label>
                    <input type="text" name="nombre" class="form-control">
                </div> 

                <div class="form-group">
                    <label for="price">price</label>
                    <input type="text" name="precio" class="form-control">
                </div>

                <div class="form-group">
                    <label for="thumbnail">thumbnail</label>
                    <input type="text" name="foto" class="form-control">
                </div>  

                <div class="form-group">
                <input type="submit" name="submit" value="Enviar " class="btn btn-success">
                </div>
            </div>
        </fieldset>
    </form>

    <div id="tablaProductos" class="bordeBlanco container " ></div>

    <section class="bordeBlanco container">
        <h2 id="compresion" class="silver container animate__animated animate__zoomIn mt-4"></h1>
        <div id = 'messagesId' class="message-fondo mt-3"></div>
        <form onsubmit="return addMessage()" class=" mb-4">
                <input type="email" id ="email" placeholder="ejemplo@gmail.com..." class="form-control" >
                <input type= "texto" id = "messageNombre" placeholder="escribe tu nombre..." class="form-control">
                <input type= "texto" id = "messageApellido" placeholder="escribe tu apellido..." class="form-control">
                <input type= "texto" id = "messageEdad" placeholder="escribe tu edad..." class="form-control">
                <input type= "texto" id = "messageAlias" placeholder="escribe tu alias..." class="form-control">
                <input type= "texto" id = "messageAvatar" placeholder="url de tu avatar..." class="form-control">
                <input type="text" id ="texto" placeholder="ingresa un mensage..." class="form-control mt-1" >
                <input type="submit"  value="Enviar " class="btn btn-primary mt-2" >
        </form>
    </section>