
{{>headInfo title="tabla de productos"}}
{{> menu}}

<h1 class="silver animate__animated animate__zoomIn container">Vista de Productos</h1>
{{#if products}}
<div class="container bordeBlanco mt-5">
<table border="1" class="table table-dark table-hover">
  <thead>
    <tr class="thead-light">
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Foto</th>
    </tr>
  </thead>
  <tbody>
     {{#each products}}
    <tr>
      <td>{{this.nombre}}</td>
      <td>{{this.precio}}</td>
      <td><img src="{{this.foto}}"height="30" width="30" ></td>
    </tr>
    {{/each}}
  </tbody>
</table>
  {{else}}
  <div class="container bordeBlanco">
     <h2 class="sub-titulo"> No hay productos</h2>
  </div>
{{/if}}
{{> footer}}