nav.navbar.navbar-expand-sm.navbar-dark.bg-dark.fixed-top 
   a.navbar-brand(href="/")
    img(src="https://cdn.pixabay.com/photo/2017/03/30/17/41/javascript-2189147__340.png" width="210" height="40" alt="logo" loading="lazy")
   button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
   div.collapse.navbar-collapse(id="navbarNavAltMarkup")
    div.navbar-nav.mr-auto.text-center
     a.nav-link(href="/") Formulario
     a.nav-link.active(href="/api/productos") Productos
    div.d-flex.justify-content-center
     a(href="https://es-la.facebook.com/").btn.btn-primary.mr-2 F
     a(href="https://www.youtube.com/").btn.btn-danger Y
