h1.silver.animate__animated.animate__zoomIn.container Vista de Productos
if products.length === 0
    div.container.bordeBlanco:  h2.sub-titulo No hay Productos
else
    div.container.bordeBlanco.mt-5
        table(border="1" class="table table-dark table-hover")
            thead 
                tr
                    th(scope="col") Nombre
                    th(scope="col") Precio
                    th(scope="col") Foto
            tbody 
                each producto in products
                    tr
                        td= producto.title
                        td= producto.price     
                        td: img(src= producto.thumbnail  height="30" width="30" )           