/* VARIABLES */
/* MIXIN */
/* EXTEND */
span,
.tituloColor {
  color: #0093de;
}

/* Body */
body {
  background-image: url(https://miro.medium.com/max/1400/1*GPQ7MDPCOdpdJSXP2f3Jjw.png);
  margin: 0px;
  padding-top: 65px;
  color: white;
  font-family: "Open Sans", sans-serif;
}

header {
  width: 100%;
  height: auto;
}

main {
  width: 100%;
  height: auto;
}

footer {
  width: 100%;
  height: 60px;
  margin-top: 80px;
  background-image: linear-gradient(to bottom, navy, dodgerblue);
}

/*Navbar*/
nav a img {
  animation: animacion 5s;
}

@keyframes animacion {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/*Titulo personalizado global*/
.silver {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  text-align: center;
  background-color: #4a235a;
  font-size: 25px;
}
.sub-titulo {
  margin-top: 50px;
  padding: 35px;
  height: 100px;
  color: #0093de;
  background-color: black;
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 25px;
}

/*Pie de pagina */
h4 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  padding-top: 15px;
  text-align: center;
}

/*BORDE MAQUETADO*/
.bordeBlanco {
  box-shadow: 3px 5px 25px white;
}

/*Video de fondo*/
.videoFondo {
  z-index: -100;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/*Ficha tecnica */
div ul {
  list-style: none;
  padding: 0;
}

.fondoNegro {
  background-color: black;
}

/*Index scale imagen*/
.scale div img {
  cursor: pointer;
  transition: 1s;
}

.scale div {
  overflow: hidden;
}

.scale div img:hover {
  transform: scale(1.3);
}

/*Contacto*/
form fieldset {
  color: #0093de;
  font-family: "Oswald", sans-serif;
  font-size: 23px;
}

.formulario {
  background-color: RoyalBlue;
}
.message-fondo {
  background-color: Turquoise;
}

.footerAjustar {
  margin-top: 180px;
}
.email-color {
  color: #282ca6;
}
.fecha-color {
  color: green;
}
.text-color {
  color: brown;
}

/* media query */
@media (min-width: 576px) {
  .videoFondo {
    position: absolute;
  }
  .formulario {
    margin-top: 50px;
  }
  body {
    padding-top: 90px;
  }
}
